<div
    class="pokemon-card"
    (click)="onSelectPokemon()"
    [@cardAnimation]
    [@hoverAnimation]="hoverState"
    (mouseenter)="hoverState = 'hovered'"
    (mouseleave)="hoverState = 'normal'"
>
    <div class="card-container" [ngStyle]="{ 'background-color': backgroundColor }">
        <div class="card-header">
            <h2>{{ pokemon().name }}</h2>
            <div class="card-hp-type">
                <p>{{ pokemon().hp }} HP</p>
                <div class="icon-container">
                    <img class="pokemon-type-icon" [src]="pokemonTypeIcon" alt="type icon" />
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="image-container">
                <div class="pokemon-image"><img class="pokemon-image" [src]="pokemon().image" alt="pokemon image" /></div>

                <p class="figure-caption">{{ pokemon().figureCaption }}</p>
            </div>
            <div class="attack-container">
                <div class="attack">
                    <div class="attack-cost"><img src="electric_icon.png" alt="" /><img src="electric_icon.png" alt="" /></div>
                    <p class="attack-name">{{ pokemon().attackName }}</p>
                    <p class="attack-strength">{{ pokemon().attackStrength }}</p>
                </div>

                <p class="attack-description">{{ pokemon().attackDescription }}</p>
            </div>
        </div>
    </div>
</div>
